# Dependencies
node_modules/
.pnpm-store/

# Build outputs
output/
dist/
dist-ssr/
*.local

# Environment
.env
.env.local
.env.*.local

# System Files
.DS_Store
Thumbs.db

# IDEs & Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
