@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --size-stamp: 24px;
    --size-chip: 39px;
    --size-tile: 63px;
    --size-block: 102px;
    --size-hero: 164px;
    --size-god: 328px;
    --phi: 1.618;
  }

  /* Custom base elements if any */
}
